@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* fundo padrão */
body {
  background: #0F172A;
  color: white;
}

/* animação de slide dos toast */
@keyframes slideIn {
  0% { opacity: 0; transform: translateX(20px); }
  100% { opacity: 1; transform: translateX(0); }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}
